<h3><%= t(".test_header") %>:</h3>

<p><%= t(".title") %>: <%= @test.title %></p>
<p><%= t(".level") %>: <%= @test.level %></p>
<p><%= t(".category_id") %>: <%= @test.category_id %></p>

<h4><%= t(".questions_header") %>:</h4>
<%= link_to t(".new_question"), new_admin_test_question_path(@test) %>

<ol>
  <%= render @test.questions %>
</ol>

<p><%= link_to t(".edit_test"), edit_admin_test_path %></p>
<p><%= link_to t(".back"), admin_tests_path %></p>
