<div class="mt-4">
  <h2><%= t("tests.index.header") %></h3>
  <div class="mt-2">
    <table class="table">      
      <tr>
        <th class="sort-by-title pointer" scope="col">
          <%= t(".title") %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th scope="col"><%= t(".questions") %></th>
        <th scope="col"><%= t(".level") %></th>
        <th scope="col"><%= t(".category") %></th>
        <th scope="col"><%= t(".actions") %></th>
      </tr>
      <%= render @tests %>
    </table>
  </div>
</div>
