<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="logo">
      <a href="<%= root_path %>">Test Guru</a>
    </div>
    
    <% if user_signed_in? %>
      <p class="nav user">
          Welcome, <b><%= current_user.email %></b> Guru
          <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete} %>
      </p>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
